html,
body{
background: #d199202a;
}
html,
body,
main{
    height: 100%;
}
.mynavbar-color{
    background: #d1992067;
}

.main_left{
    width: 100%;
    height: 557px;
}
#DaoHang{
    margin-top: 60px;
    border: 2px solid gray;
    width: 100%;
    height: 597px;
    overflow: auto;
}
#DaoHang ul{
    padding-left: 0px;
}
.DH-item{
    padding: 10px 5px;
    margin: 20px 10px;
    border: 2px solid orange;
    border-radius: 20px;
    text-align: center;
    
}
.main_right{
    width: 100%;
    height: 597px;
}
.ZT{
    margin-top: 60px;
    border: 2px solid gray;
    width: 100%;
    height: 597px;
    overflow: auto;
}

.footer-color{
    background-color:#d1992067
}